@import url(https://fonts.google.com/noto/specimen/Noto+Sans);

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #404eed;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.first {
    position: relative;
    color: #fff;
    background-color: #404eed;
    font-size: 1.5em;
    height: 626px;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.first p {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 40px 120px 40px;
    width: 780px;
    position: absolute;
    z-index: 1;
}

.firstContainer h1 {
    font-size: 52px;
}

.firstContainer p {
    margin-top: 50px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.izquierda {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -150px;
}

.fondo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.derecha {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -150px;
}


.imagenes img.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.button1, .button2 {
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 100px;
    overflow: hidden;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
    line-height: 120%;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(16px, 2vw, 20px);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

