.navbar {
    background-color: #404eed;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1200px;
    justify-self: center;
    align-self: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.logo img {
    width: 30px;
    height: 50px;
    margin-right: 10px;
}

.menu-link {
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    line-height: 140%;
    font-weight: 600;
}

.openDiscord {
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 100px;
    overflow: hidden;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.openDiscorButton {
    font-size: 14px;
    border-radius: 100px;
    background-color: white;
    color: #404eed;
}